
body {
  background-color: #161515;
  color: #fffffe;
 }

a {
  text-decoration: none;
  color: #ceeef3;
  font-weight: bold;
}

a:hover {
  color: #579599;
}

/* Navigation component */


.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
}
.nav-header {
  cursor: pointer;
}

.nav-list > * {
  padding: 0 10px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .nav-list {
    padding: 0;
  }

  .nav-header {
    font-size: 20px;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
  }
}





/* About Me Component*/

.about-me {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 15px;

}

.content-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  color: #ffffff;
  font-size: 70px;
  margin: 20px;
}

.main-title-name {
  color: #b87f7f;
}

.main-paragraph {
  margin-top: 0;
  max-width: 1000px;
  color: #ece5e5;
  font-size: 17px;
  margin-bottom: 30px;
}

.content-two {
  display: flex;
  gap: 22px;
}

.content-two > * {
  padding: 10px 60px;
  background-color: #7fb9b0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5em;
}

.content-two > *:hover {
  background-color: #dadeec;
}


.link-buttons {
  width: 27px;
}


@media (max-width: 750px){

    .out-about-me {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .main-title {
      text-align: center;
    }

    .about-me{
      transition: 1s;
      max-width: 300px;
      align-items: center;
      justify-content: center;
    }

    .main-paragraph {
      max-width: 220px;
      line-height: 26px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      hyphens: auto;
    }

    .link-buttons {
      width: 27px;
    }
    .content-two > * {
      padding: 3px 50px;
    }

}



/* Projects Component */

.projects-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #272424;
  max-width: 100vw;
  height: auto;
  flex-wrap: wrap;
  padding-bottom: 40px;
}


.Projects-tab-heading {
  font-size: 45px;
  background-color: #ac857a;
  padding: 0 60px;
  text-align: center;
  border-radius: 3px;

}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  width: 300px;
  height: 300px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border: 3px solid white;
  background-color: black;
  color: white;
}

.image-tag {
  width: 300px;
  height: 170px;
  border-top-right-radius: 0.8em;
  border-top-left-radius: 0.8em;
  background-size: cover;
  background-repeat: no-repeat;
}





.project-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.source-btn, .live-btn {
  width: 110px;
  height: 40px;
  background-color: #a7bdaa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #c72d2d;
  transition: 0.5s;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  color: black;
  cursor: pointer;
  border-radius: 6px;

}

.source-btn:hover, .live-btn:hover {
  transform: scale(0.9);
}

.live-btn {
  background-color: #ffffff;
  color: #2c2a2a;
}


.intro-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  color: #ffffff;
}

.intro-div > * {
  max-width: 200px;
  padding-right: 7px; 
}
  
.info-div {
  font-size: 13px;
  display: flex;
  padding: 10px 20px;
}

.info-div-paragraph {
  text-indent: 25px;
}


@media (max-width: 750px) {

  .project-card {
    width: 300px;
    height: 300px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    transition: 0.8s;
   
  }
  .Projects-tab-heading {
    font-size: 30px;
  }
}







/* Skills Component */

.skills {
  width: 100%;
  height: 350px;
  background-color: #161515;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
  margin-top: 50px;
}

.skills-grid {
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.skills-icon-size > * {
  width: 50px;
  height: 70px;
  margin: 0 30px;
  padding: 20px 0;
}



/* Contact Component */

.contact {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161515;
  padding: 50px 0;
  
}


.contact-side {
  width: 900px;
  height: 480px;
  border-radius: 7px;
  background-color: #fffffe;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-heading {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  color: black;
  
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: black;

}


.name, .email {
  width: 300px;
  height: 40px;
  background-color:#ffffff;
  margin: 5px;
  font-size: 18px;
  transition: 1s;
  border-radius: 5px;


}

.message {
  border: 0px;
  width: 615px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 7px;
  font-size: 20px;
  transition: 1s;
  margin-top: 10px;
  border: 2px solid #3d3f3a;

}

.submit-button {
  width: 625px;
  height: 40px;
  border: 0px;
  border-radius: 10em;
  margin-top: 5px;
  background-color: #87e8de;
  font-weight: bold;
  transition: 1s;
  margin: 20px 0;
  color: #fffffe;
  cursor: pointer;
  border: 2px solid white;
  background-image: linear-gradient(to right, #bae7ff, #1a1a1b);


  
}

.submit-button:hover {
  background-image: linear-gradient(to right, #91d5ff, #597ef7);


}

@media (max-width: 930px) {
  .contact-side {
    width: 315px;
    height: 450px;
    transition: 1s;
    font-size: 15px;
    margin: 0;
  }

  .name, .email {
    width: 120px;
    height: 25px;
    transition: 1s;
    font-size: 13px;


  }
  .message, .submit-button {
    width: 250px;
    transition: 1s;
    font-size: 13px;
  }

}
  





/* Footer Component */

.resource-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161515;
  width: 100%;
  height: 100px;
}

.left-module {
  display: flex;
  gap: 20px;
  padding: 0 20px;

}

.right-module {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  align-items: center;
}


.button-two, .button-three {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
}

.button-two:hover, .button-three:hover {
  background-color:  #fffffe;
}

.button-three {
  background-color: #ffffff;
}

.scroll-up-icon {
  transition: 1s;
  width: 35px;
  scroll-behavior: smooth;
  cursor: pointer;
  padding: 0 10px;
}

.scroll-up-icon:hover {
  transform: scale(0.9);
}



@media (max-width: 500px) {
  .button-two, .button-three {
    width: 30px;
    height: 30px;
  }
  img {
    width: 15px;
  }
  .scroll-up-icon {
    width: 20px;
  }
  
}
