
body {
  background-color: #fffffe;
  color: #2b2c34;
 }

/* Navigation component */

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list > * {
  padding: 0 10px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .nav-list {
    padding: 0;
  }

  .nav-header {
    font-size: 20px;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
  }
}


/* About Me Component*/

.about-me {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15vw;
  gap: 20px;
  border-radius: 10px;
  padding: 15px;
  margin-top: 60px;

}

.content-one {
  display: flex;
  flex-direction: column;
}

.main-title {
  color: #353535;
}

.main-paragraph {
  max-width: 500px;
  color: #7c7c7c;
  text-indent: 35px;
}

.content-two {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.content-two > * {
  width: 150px;
  height: 45px;
  background-color: #d1d1e9;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
}

.content-two > *:hover {
  background-color: #d1d1e1;
  transform: scale(0.9);
}

img {
  width: 27px;
}


@media (max-width: 750px){
    .about-me{
      display: flex;
      flex-direction: column;
      transform: scale(0.9);
      transition: 1s;
    }

    .content-two {
      display: flex;
      flex-direction: row;
    }

    .content-two > * {
      width: 90px;
      height: 40px;
    }
}






/* Projects Component */

.projects-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #d1d1e9;
  max-width: 100vw;
  height: auto;
  flex-wrap: wrap;
  padding-bottom: 40px;
}


.Projects-tab-heading {
  font-size: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  width: 280px;
  height: 160px;
  background: #fffffe;    
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.7s;
  cursor: pointer;
  margin: 20px
}

.project-card:hover {
  transform: scale(0.9);
}


@media (max-width: 750px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
  .Projects-tab-heading {
    font-size: 30px;
  }
}

.intro-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  color: #2b2c34;
}

.intro-div > * {
  width: 30px;
  padding-right: 7px;
  
}
  
.info-div {
  font-size: 10px;
  display: flex;
  padding: 10px 20px;
}

.info-div-paragraph {
  text-indent: 25px;
}






/* Skills Component */

.skills {
  width: 100%;
  height: 500px;
  background-color: #f9f4ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-grid {
  width: 60%;
  height: 70%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
}

.ex {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}



/* Contact Component */

.contact {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-up {
  display: flex;
  align-items: flex-end;
  margin: 20px;
  cursor: pointer;
}

.scroll-up-icon {
  transition: 1s;
  width: 50px;
  scroll-behavior: smooth;

}

.scroll-up-icon:hover {
  transform: scale(0.9);
}

.contact {
  display: flex;
  gap: 20px;
  
 
}
.contact-side {
  width: 800px;
  height: 370px;
  background-color: #2b2c34;
  border-radius: 10px;
  background-color: #f0f0f0
  ;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  
}

.contact-heading {
  margin-bottom: -10px;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

}


.name, .email {
  width: 300px;
  height: 40px;
  background-color:#fffffe;
  margin: 5px;
  border-radius: 7px;
  font-size: 16px;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


}

.message {
  border: 0px;
  width: 615px;
  height: 200px;
  background-color: #fffffe;
  border-radius: 7px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.submit-button {
  width: 625px;
  height: 30px;
  border: 0px;
  border-radius: 7px;
  margin-top: 5px;
  background-color: #e6fffb;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}


.resource-side {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 4;
  background-color: #fffffe;
}

.button-two {
  width: 50px;
  height: 50px;
  background-color: #1890ff;
  border-radius: 1100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
}

.button-two:hover {
  background-color:  #69c0ff;
}




